<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue beginner</title>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital@1&display=swap" rel="stylesheet">
    <style>
        body{
            margin: 5%;
            font-family: 'Arimo', sans-serif;
        }

        .active{
            background: salmon;
            color: wheat;
            border: 0;
            padding: 5px;
        }
    </style>

</head>
<body>
    
    <div id="app">
        <!-- header -->
        <header-component nama="Vuejs" image="./images/vuejs.jpeg"></header-component>
        <header-component nama="ReactJs" image="./images/reactjs.jpg"></header-component>

        <main>
            <kelas/>
        </main>

        <!-- footer -->
        <footer-component></footer-component>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script>

        Vue.component('header-component', {
            props : ['nama', 'image'] ,
            template : 
            `<header>
                <img :src="image" alt="" width="250">
                <p v-text="pesan"></p>
                <p>{{ 'Hello'+nama }}</p>
                <p>
                    The progressive Javascript Framework
                </p>
            </header>`,
            data : function () {
                return {
                   pesan :  'Hello Component',
                }
            }
        })
        Vue.component('footer-component', {
            template :
            `
            <footer id="footer">
                <p>Copyright 2020</p>
            </footer>
            `
        })

        Vue.component('kelas', {
            template : 
            `
            <div>
                <h3>Tambah kelas</h3>

                <p>
                    <input type="text" v-on:keyup.enter="submit" placeholder="nama kelas" v-model="kelasBaru">
                </p>
                <hr>
                
                <h3>Daftar Kelas ({{ kelas.length }})</h3>
                <template>
                    <div>
                        <ul v-if="kelas.length > 1">
                            <li v-for="(item, index) in kelas" :key="index">
                                {{ index+1 }} - {{ item }}
                            </li>
                        </ul>
                    </div>
                </template>
            
                <li v-else>Kelas Belum tersedia</li>
            <div>
            `,
            data : function () {
                return {
                    kelas : ['Gilang', 'PHP', 'Ruby'],
                    kelasBaru : "",
                }
            },
            methods : {
                submit : function (){
                    // let text = event.target.value
                    this.kelas.unshift(this.kelasBaru)
                    // event.target.value = ""
                    this.kelasBaru = ""
                }
            },
        })
        const vm = new Vue({
            el : '#app',
            data : {
                kelas : ['Gilang', 'PHP', 'Ruby'],
                kelasBaru : "",
            },
            computed : {
               
            }
        })
    </script>
</body>
</html>