<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue beginner</title>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital@1&display=swap" rel="stylesheet">
    <style>
        body{
            margin: 5%;
            font-family: 'Arimo', sans-serif;
        }

        .active{
            background: salmon;
            color: wheat;
            border: 0;
            padding: 5px;
        }
    </style>

</head>
<body>
    
    <div id="app">
        <header>
            <img v-bind:src="gambar" alt="" width="250">
            <h1 v-text="name.toUpperCase()"></h1>
            <!-- <h4>{{ isActive ? 'success' : 'danger' }}</h4> -->
            <h5>{{ getName() }}</h5>
            <p>{{ namaLengkap }}</p>
            <input type="text" v-model="name">
            <p><b>{{ bilangan }} </b> bilangan ini adalah bilangan {{ infoBilangan }}</p>
            <p>
                <button @click="handleClick()">Ditekan</button>
            </p>

            <p>
                <a v-bind:class = "{active:menu === 'home'}" href="#" @click.prevent="gantiMenu('home')">Home</a>
                <a v-bind:class = "{active:menu === 'about'}" href="#" @click.prevent="gantiMenu('about')">About</a>
                <a v-bind:class = "{active:menu === 'blog'}" href="#" @click.prevent="gantiMenu('blog')">Blog</a>
            </p>
            
            <h3>Daftar Kelas ({{ kelas.length }})</h3>
            <template>
                <div>
                    <ul v-if="kelas.length > 1">
                        <li v-for="(item, index) in kelas" :key="index">
                            {{ index+1 }} - {{ item }}
                        </li>
                    </ul>
                </div>
            </template>
          
            <li v-else>Kelas Belum tersedia</li>

            <h3>Mencari Bilangan Genap : {{ numbers }}</h3>
            <ul>
                <li v-for="x in cariBilanganGenap(numbers)">{{ x }}</li>
            </ul>

            <p v-text="kelas"></p>
            <div>
                <label>
                    <input type="checkbox" value="React" v-model="kelas">React
                </label>
                <label>
                    <input type="checkbox" value="Vuejs" v-model="kelas">Vuejs
                </label>
                <label>
                    <input type="checkbox" value="Angular" v-model="kelas">Angular
                </label>
            </div>

            <p>
                The progressive Javascript Framework
            </p>
        </header>
        <footer id="footer">
            <p>Copyright 2020</p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script>
        // const data = {
        //     name : 'Fahmi Dafrin Maulana',
        //     message : 'Hello World!',
        //     isActive : false
        // }

        const vm = new Vue({
            el : '#app',
            data : {
                name : 'Fahmi Dafrin Maulana',
                message : 'Hello World!',
                qyt : 3,
                namaDepan : 'Eli',
                namaBelakang : 'Susi',
                bilangan : 2,
                gambar : './images/vuejs.jpeg',
                menu : 'home',
                kelas : ['Gilang', 'PHP', 'Ruby'],
                numbers : [1, 2, 3, 4, 5]
            },
            methods : {
                getName : function () {
                    return 'Hello, ' +this.name
                },
                ubahNama : function (namaBaru) {
                    this.name = namaBaru    
                    return this.getName()
                },
                handleClick : function () {
                    // mengubah data bilangan dan mengubah gambar
                    this.bilangan++
                    this.gambar = 'images/reactjs.jpg'
                },
                cariBilanganGenap : (data) => {
                    return data.filter(angka => {
                        return angka % 2 == 0
                    })
                },
                gantiMenu : function (data, event)  {
                    // event.preventDefault();
                    // console.log(event)
                    this.menu = data
                }
            },
            computed : {
                totalBayar : function () {
                    return this.qyt * 10000
                },
                namaLengkap : function () {
                    return this.namaDepan + this.namaBelakang
                },
                infoBilangan : function () {
                    return this.bilangan%2 == 0 ? 'Genap' : 'Ganjil'
                }
            }
        })
    </script>
</body>
</html>